$main-color: #96c3d9;
$icon-color: #7d7d7d;

$main-regular-font: Roboto;
$main-medium-font: RobotoMedium;
$main-bold-font: RobotoBold;

// card backgrounds
$white: #fff;
$yellow: #fdffb1;
$red: #ffcaaf;
$pink: #ffd7db;
$grey: #eff5fa;
$sky: #d1ebfe;
$green: #9ef5cf;
$blue: #90e3f8;