@import '~sass/mixins';
@import '~sass/variables';

.registration {
    padding-top: 36px;
    padding-bottom: 38px;
    display: block;
    width: 600px;
    box-shadow: 0 3px 32px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    &__title {
        color: #4c4c4c;
        font-family: $main-regular-font;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 36px;
    }
    &__login {
        @include anchor-reset;
        margin: 0 auto;
        margin-top: 41px;
        color: #4c4c4c;
        font: 500 15px/1em $main-regular-font;
    }
}

.registration .form {
    &__username, &__password {
        @include input-reset;
        border-radius: 3px;
        border: 1px solid #cdcdcd;
        font: 400 13px/40px $main-regular-font;
        color: #717171;
        width: 270px;
        padding-left: 21px;
        padding-right: 21px;
        margin-bottom: 20px;
    }
    &__button {
        @include btn-reset;
        width: 210px;
        color: #ffffff;
        font: 500 15px/35px $main-regular-font;
        border-radius: 17px;
        background-color: $main-color;
        margin-top: 30px;
    }
}

.registration .social-buttons {
    display: flex;
    width: 220px;
    height: 40px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 30px;
    &--vk, &--google, &--facebook, &--github {
        @include btn-reset;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $main-color;
        line-height: 40px;
        color: #fff;
        font-size: 16px;
    }
    &.is-disabled {
        display: none;
    }
}